body,
header {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #666;
    border: none;
}

header h1 {
    margin: 0;
    font-weight: 300;
    color: white;
}

nav {
    display: flex;
}

@media screen and (max-width: 600px) {
    nav {
        display: none;
        font-family: Arial, sans-serif;
    }

    header::after {
        content: '...';
        display: block;
        text-align: right;
        color: white;
    }
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
    margin: 0;
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    overflow-y: scroll;
}


nav a {
    color: white;
    font-weight: 300;
    margin-right: 20px;
    text-decoration: none;
    padding: 15px 32px;
    display: inline-block;
    border-radius: 25px;
}

nav a:hover {
    background-color: #ff6347;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

nav a:last-child {
    background-color: #ff6347;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 25px;
}

nav a:last-child:hover {
    background-color: #666;
}

button {
    background-color: #ff6347;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 25px;
    font-family: Arial, sans-serif;
}

button:hover {
    background-color: #666;
}

main {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

main h2 {
    color: #666;
    font-weight: 300;
}

#search-input {
    width: 300px;
    height: 50px;
    border-radius: 25px;
    font-size: 16px;
    padding: 10px;
    box-sizing: border-box;
}

#search-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#recipe-cards {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
}

[data-header] a {
    text-decoration: none;
    color: inherit;
    display: block;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 25px;
    transition: background-color 0.3s ease;
}

[data-header] a:hover {
    background-color: #ff6347;
    color: white
}

footer {
    position: flex;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #666;
    color: white;
    text-align: center;
    padding: 10px 0;
}

form#add-recipe-form {
    width: 80%;
    margin: 0 auto;
}

form#add-recipe-form input[type="text"],
form#add-recipe-form input[type="number"],
form#add-recipe-form textarea,
form#add-recipe-form select {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
    border-radius: 25px;
    font-family: Arial, sans-serif;
}

form#add-recipe-form button {
    color: white;
    padding: 10px 20px;
    margin: 10px 0;
    border: none;
    cursor: pointer;
}

#add-ingredient-button {
    background-color: #666;
}

#add-ingredient-button:hover {
    background-color: #ff6347;
}

#ingredients-table {
    width: 80%;
    border-collapse: collapse;
}

#ingredients-table th,
#ingredients-table td {
    border: none;
    padding: 8px;
}

#ingredients-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.ingredients {
    display: flex;
    align-items: center;
}

#ingredients-table {
    flex-grow: 1;
}

#add-ingredient-button {
    margin-left: 20px;
}

#recipe-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
}

.recipe-card {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    color: #333;

}

.recipe-card.expanded {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background: white;
    width: 60%;
    height: 60%;
    overflow: auto;
    padding: 20px;
    box-sizing: border-box;
}

.recipe-card h3 {
    margin: 0;
}

.recipe-card p {
    display: none;
}

.recipe-card.expanded p {
    display: block;
}

.delete-button,
.edit-button {
    background-color: #f44336;
    color: white;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
}

.delete-button:hover,
.edit-button:hover {
    background-color: #666;
    color: white;
}

form {
    width: 80%;
    margin: 0 auto;
}

form input[type="text"],
form textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
    border-radius: 25px;
    font-family: Arial, sans-serif;
}

form button {
    background-color: #ff6347;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 25px;
    font-family: Arial, sans-serif;
}

form button:hover {
    background-color: #666;
}